<section>
    <h3>MudBlazor v7.0.0 Released</h3>
    <p>
        MudBlazor v7 is officially released, bringing many new features along with several breaking changes.
        This update creates a more solid foundation for future growth.
        <br />
        <br />
        For detailed migration information, please see the
        <MudLink Href="https://github.com/MudBlazor/MudBlazor/issues/8447" Target="_blank">
            v7.0.0 Migration Guide
        </MudLink>.
    </p>
</section>
